h1,h2,h3,h4,h5,h6
{
font-family: 'Timesroman', sans-serif;
}

h2{
    font-size:45px;
}

body {
    font-size: 17px;
  
   
}

h1 {
    
    font-size: 65px !important;
}

.topnav
{
background-color:black;

}

footer {
    font-size: 0.70em;
}

.container
{
   
    overflow:auto;
}


